.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url(../src/TASS_40491553_d_850.jpg);
   background-color: #232e44;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #5a00c0;
  font-size: 35px;
  width: 50%;
  height: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header1 {
  padding: 15px 32px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  width: 100%;
  height: 1500px;
}

.App-button {
  background-color: #b1a095;
  border: none;
  color: rgb(22, 21, 21);
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
.App-input {
  background-color: #4b4846;
  border: none;
  color: rgb(22, 21, 21);
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}
.button-container {
  height: 100px;
  text-align: center;
}
.input-container {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 15px;
  padding-top: 15px;
}

.OverviewText4 {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50px;
  left: 50px;
}

.main-input-container {
  width: 350px;
  background-color: rgb(185 223 241 / 0%);
  backdrop-filter: blur(5px)
}

.text-header{
  background-color: #232e44;
  min-height: 100vh;
  display: flex;
  align-items: baseline;
  font-size: calc(2px + 2vmin);
  color: #b2c9ff87;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.App-header-home{
  background-color: #9b9ca0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(8px + 2vmin);
  color: #141415;
  wight:100%
}
.sign-button-container {
  backdrop-filter: blur(5px)

}

.home-text-header{
  background-color: #9b9ca0;
  min-height: 100vh;
  display: flex;
  align-items: baseline;
  font-size: calc(2px + 2vmin);
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}